link(rel="stylesheet", href="/partials.css")

#footer
  #wrap 
    p.license © 2021 Febriadj.
    .path
      a(href="/terms" class="link") Terms & Conditions
      a(href="/terms" class="link") Privacy